html, body {
  text-align: center;
  background-color: #011F3F;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.title {
  padding: 30px 0px;
  min-height: 100px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.3;
  font-size: 2.4rem;
  margin: 0 auto;
  color: #FEF2BF;
  height: 90px;               /* Reserve space */
  display: flex;
  align-items: center;        /* Vertical center */
  justify-content: center;    /* Horizontal center */
  text-align: center;
  padding: 0 10px;
  overflow-wrap: break-word;
}

.container {
  display: block;
  width: 100%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.4),
    inset 0 -4px 6px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.s ease, box-shadow 0.2s ease;
}

@media (min-width: 726px) {
  .btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
}

.red {
  background-image: radial-gradient(circle at 30% 30%, #f34b4b, #a50e0e);
}

.green {
  background-image: radial-gradient(circle at 30% 30%, #68e968, #075822);
}

.blue {
  background-image: radial-gradient(circle at 30% 30%, #5c68ce, #0f1175);
}

.yellow {
  background-image: radial-gradient(circle at 30% 30%, #eff175, #ad9405);
}

.pressed {
  transform: translateY(2px);
  background: radial-gradient(circle at 30% 30%, #ccc, #747474);
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.2);
}

.start {
  height: auto;
  width: auto;
  padding: 2% 4%;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  display: none;
  background-color: #FEF2BF;
  color: #011F3F;
  font-size: 0.8rem;
  position: relative;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.footer {
  margin-top: 60px;
  padding: 20px 10px;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  line-height: 2;
  text-align: center;
  background-color: #011F3F;
  opacity: 0.8;
}

.footer:hover {
  color: #5c68ce;
}

.footer:hover a {
  color: #a9b0ee;
}

.footer a {
  color: #FEF2BF;
  text-decoration: none;
}

.footer a:active {
  color: #ffffff;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

@media (max-width: 726px) {
  .btn {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  #level-title {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}